---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="css/styles.css" />
		<script
			src="https://kit.fontawesome.com/1b97dd7005.js"
			crossorigin="anonymous"></script>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/rippleui@1.12.1/dist/css/styles.css"
		/>
		<script src="https://cdn.tailwindcss.com"></script>

		<title>FastVPS</title>
	</head>
	<body class="transition-all">
		<div class="navbar navbar-floating navbar-glass bg-slate-700">
			<div class="navbar-start">
				<a class="navbar-item text-white">FastVPS.Systems</a>
			</div>
			<div class="navbar-center">
				<a class="navbar-item text-white" href="/">Home</a>
				<a class="navbar-item text-white" href="#features">Features</a>
				<a class="navbar-item text-white"  href="https://billing.fastvps.systems/contact.php">Contact</a>
			</div>
			<div class="navbar-end">
				<a class="navbar-item text-white hover:text-indigo-400 border-transparent bg-blue-500" href="https://billing.fastvps.systems">Account</a>
			</div>
		</div>


		
		<div class="flex flex-col justify-center items-center text-center min-h-screen">
			<div class="h-80 w-1/2 md:w-1/2 border rounded-xl bg-[url('images/servers.avif')] border-transparent">
				<h1 class="text-3xl md:text-5xl p-4 text-left font-bold from-purple-600 via-pink-600 to-blue-600 bg-gradient-to-r bg-clip-text text-transparent">FastVPS.Systems</h1>
				<h2 class="text-xl md:text-2xl text-left indent-4 text-purple-300">Nasa speed, without the Nasa prices.</h2>
				<div class="w-1/2 md:w-1/2 text-left ml-4 mt-1 hidden md:block text-white">
					At FastVPS.systems, we take pride in being the premier destination for all your Virtual Private Server (VPS) needs. Just like the majestic birds that grace the skies, we soar above the competition, offering unparalleled services that are tailored to meet your unique requirements.
				</div>
		
				<div class="flex flex-col md:flex-row">
					<a class="btn btn-primary ml-4 mt-4 hover:bg-indigo-600" href="https://billing.fastvps.systems">Get Started</a>
					<a class="btn btn-outline-secondary ml-4 mt-4" href="https://billing.fastvps.systems">Discord</a>
				</div>
			</div>
		
			<div class="divider divider-horizontal">Guarentees</div>
			<div class="h-auto w-1/2 md:w-1/2 border rounded-xl bg-blue-500 border-transparent">
				<div class="grid grid-cols-1 md:grid-cols-3 mt-2">
					<p class="text-xl font-bold text-slate-200">99% Uptime</p>
					<p class="text-xl font-bold text-slate-200">Path.net DDOS protection</p>
					<p class="text-xl font-bold text-slate-200">Low Prices</p>
				</div>
			</div>
		</div>
		
		
		
		<div class="flex flex-col md:flex-row gap-8 justify-center items-center" id="features">
			<div class="card card-image-cover">
				<img src="https://images.unsplash.com/photo-1548197193-2c2df590e23f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
				<div class="card-body">
					<h2 class="card-header">Accelerated</h2>
					<p class="text-content2">We offer solutions for all use cases! With the newest CPU technology, you can ignite the fastest server you have ever seen with your 2 eyes in minutes.</p>
					<div class="card-footer"></div>
				</div>
			</div>
			<div class="card card-image-cover">
				<img src="https://images.unsplash.com/photo-1451187580459-43490279c0fa?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
				<div class="card-body">
					<h2 class="card-header font-bold">Reliable</h2>
					<p class="text-content2">We prioritize uptime in the fast-evolving tech world. Our comprehensive mitigation and migration approach ensures minimal downtime, supported by a 99% uptime guarantee.</p>
					<div class="card-footer"></div>
				</div>
			</div>
			<div class="card card-image-cover">
				<img src="https://plus.unsplash.com/premium_photo-1676618539992-21c7d3b6df0f?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
				<div class="card-body">
					<h2 class="card-header">Security</h2>
					<p class="text-content2">Our servers boast Path.net DDOS protection and multi-level virtualization for top-tier security. With our experienced team and rapid response times, your data is safe.</p>
					<div class="card-footer"></div>
				</div>
			</div>
		</div>
		
		<div class="flex flex-col justify-center items-center h-screen">
			<p class="text-3xl md:text-5xl">Products</p>
			<p class="mt-4 text-center">Here are the products we provide to people all over the world.</p>
			<div class="flex flex-col md:flex-row gap-8 justify-center items-center mt-8 md:mt-32">
				<div class="card">
					<div class="card-body">
						<h2 class="card-header">General Purpose VPS</h2>
						<p class="text-content2">An affordable and versatile virtual private server suitable for everyday computing needs.</p>
						<div class="card-footer">
							<a href="https://billing.fastvps.systems/index.php?rp=/store/general-purpose-vps" class="btn-secondary btn">Plans</a>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-body">
						<h2 class="card-header font-bold">Rust Hosting</h2>
						<p class="text-content2">Specialized hosting solution tailored for the popular game Rust.</p>
						<div class="card-footer">
							<a href="https://billing.fastvps.systems/index.php?rp=/store/rust-hosting" class="btn-secondary btn">Plans</a>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-body">
						<h2 class="card-header">Memory Optimized VPS</h2>
						<p class="text-content2">High-performance virtual servers optimized for memory-intensive workloads, with robust security and expert support.</p>
						<div class="card-footer">
							<a href="https://billing.fastvps.systems/index.php?rp=/store/memory-optimized-vps" class="btn-secondary btn">Plans</a>
						</div>
					</div>
				</div>
			</div>
		
			<div class="flex flex-col md:flex-row gap-8 justify-center items-center mt-8">
				<div class="card">
					<div class="card-body">
						<h2 class="card-header">Minecraft Hosting</h2>
						<p class="text-content2">Blazing-fast Minecraft server hosting powered by the latest CPU technology, catering to all use cases.</p>
						<div class="card-footer">
							<a href="https://billing.fastvps.systems/index.php?rp=/store/minecraft-hosting" class="btn-secondary btn">Plans</a>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-body">
						<h2 class="card-header font-bold">Web Hosting</h2>
						<p class="text-content2">Reliable web hosting with a focus on uptime, comprehensive mitigation strategies, and a 99% uptime guarantee</p>
						<div class="card-footer">
							<a href="https://billing.fastvps.systems/index.php?rp=/store/web-hosting" class="btn-secondary btn">Plans</a>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-body">
						<h2 class="card-header">CPU Optimized VPS</h2>
						<p class="text-content2">Virtual servers optimized for CPU-intensive tasks, featuring top-tier security, experienced support, and rapid response times.</p>
						<div class="card-footer">
							<a href="https://billing.fastvps.systems/index.php?rp=/store/cpu-optimized-vps" class="btn-secondary btn">Plans</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		

<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">

<footer class="relative bg-slate-700 pt-8 pb-6 transition-all">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap text-left lg:text-left">
      <div class="w-full lg:w-6/12 px-4">
        <h4 class="text-3xl fonat-semibold text-white">FastVPS.Systems</h4>
        <h5 class="text-lg mt-0 mb-2 text-white">
			Nasa speed, without the Nasa prices.
        </h5>
        <div class="mt-6 lg:mb-0 mb-6">
          <button class="bg-white text-lightBlue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2" type="button">
            <a href="https://discord.gg/fastvps"><i class="fab fa-discord"></i></a>
          </button>
        </div>
      </div>
      <div class="w-full lg:w-6/12 px-4">
        <div class="flex flex-wrap items-top mb-6">
          <div class="w-full lg:w-4/12 px-4 ml-auto">
            <span class="block uppercase text-white-500 text-sm font-semibold mb-2 text-white">Useful Links</span>
            <ul class="list-unstyled">
              <li>
                <a class="text-white-600 hover:text-blueGray-800 text-white transition-all font-semibold block pb-2 text-sm" href="https://control.fastvps.systems/">VPS Panel</a>
              </li>
              <li>
                <a class="text-white-600 hover:text-blueGray-800  text-white transition-all font-semibold block pb-2 text-sm" href="https://billing.fastvps.systems/index.php?rp=/store">Billing Panel</a>
              </li>
              <li>
                <a class="text-white-600 hover:text-blueGray-800 text-white transition-all font-semibold block pb-2 text-sm" href="https://panel.fastvps.systems/">Game Panel</a>
              </li>
            </ul>
          </div>
          <div class="w-full lg:w-4/12 px-4">
            <span class="block uppercase text-white-500 text-sm font-semibold mb-2 text-white">Information</span>
            <ul class="list-unstyled">
              <li>
                <a class="text-white-600  font-semibold block pb-2 text-sm text-white" >FastVPS.Systems Trademarked Under Cyphersoftware Solutions Ltd

				</a>
              </li>
              <li>
                <a class="text-white-600  font-semibold block pb-2 text-sm text-white">Company Number: 15315910</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-6 border-white-300">
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-4/12 px-4 mx-auto text-center">
        <div class="text-sm text-white-500 font-semibold py-1">
          Copyright © <span id="get-current-year">2024</span><a class="text-white-500 hover:text-gray-800" target="_blank"> FastVPS.Systems
		
		<br>
		<a href="https://hamzaelashry.one" class="text-blueGray-500 transition-all hover:text-blueGray-800">Developed by Hamza Elashry</a>.
        </div>
      </div>
    </div>
  </div>
</footer>

	</body>
</html>
